@font-face {
    font-family: 'Adobe Clean';
    src: local('Adobe Clean Bold'), local('Adobe-Clean-Bold'),
        url('AdobeClean-Bold.woff2') format('woff2'),
        url('AdobeClean-Bold.woff') format('woff'),
        url('AdobeClean-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }